body {
  margin: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: royalblue; */
  background-color: steelblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-decoration: underline;
  margin: 5%;
  text-transform: uppercase;
}

h2 {
  color: midnightblue;
  margin-top: 5%;
  text-decoration: underline;
}

#closeups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  @media screen and (max-width: 992px){
    flex-direction: column;
  } 
}

img {
  margin: 3%;
}